<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/user_ward.css' />
</head>
<body>
  <nav>
    <h1>WP Notifier</h1>
    <button class="login-button" onclick="redirectLogin()">Login</a></button>
  </nav>
  <div class="container">
    <label for="city">Select your city</label>
    <select id="city" name="city">
      <option value="Pokhara">Pokhara</option>
      <option value="Lalitpur">Ward 2</option>
      <option value="Kathmandu">Ward 3</option>
    </select>
    <button class="next-button"  onclick="redirectWard()">Next</a></button>
  </div>

  <script>
    function redirectLogin(){
      window.location.href = '/users/login';
    }
    function redirectWard(){
      window.location.href = '/user_ward/user_ward';
    }
    
  </script>
</body>
</html>