<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css"> <!-- Link to your CSS file -->
</head>
<body>
    <div class="form-container"> 
        <h2>Login</h2>
        <form action="/users/completelogin" method="post" >
        <% if (typeof error !== 'undefined') { %>
            <p style="color: red;"><%= error %></p>
        <% } %>
        <!-- <form action="/users/login" method="POST"> -->
            <div class="form-group">
                <label for="name">Username</label>
                <input type="text" id="name" name="username" placeholder="Enter your name" required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="form-group">
                <button type="submit" class="submit-btn"><a href="/admin/dashboard">Login</a></button>
            </div>
        </form>
        <p>Don't have an account? <a href="/users/signup">Signup</a></p>
    </div>
    <!-- <script>
         
    function redirectDashboard(){
      window.location.href = '/admin/dashboard';
    }
    </script> -->
</body>
</html>
