<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/user_ward.css' />
</head>
<body>
  <nav>
    <h1>WP Notifier</h1>
    <button class="login-button" onclick="redirect_login()">Login</button>
  </nav>
  <div class="container">
    <label for="ward">Select Your Ward</label>
    <select id="ward" name="ward">
      <option value="ward1">Ward 1</option>
      <option value="ward2">Ward 2</option>
      <option value="ward3">Ward 3</option>
    </select>
    <button class="next-button" ><a href="/user_schedule/user_schedule">Next</a></button>
  </div>
  <script>
    function redirect_login(){
      window.location.href = '/users/login';
    }
   </script> 
</body>
</html>