<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yeseva+One&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/3c507479c7.js" crossorigin="anonymous"></script>
    <title>WP Notifier</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            /* background-color: #ccebf5; */
            background-color: #fff;
        }
        .header {
            background-color: #1F618D;
            color: white;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .header .logo {
            font-size: 1.5em;
            font-weight: bold;
            font-family: "Yeseva One", serif;
        }
        .header nav {
            display: flex;
            gap: 15px;
            align-items: center;
        }
        .header nav a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }


        .login-button {
            background-color:  #8cbbed; /* Blue color */
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 18px;
            box-shadow: 3px 3px 10px  rgb(69, 68, 68);
            }

.login-button:hover {
  background-color: #007bff; /* Darker blue on hover */
}
.container{
    width: 70%;
    margin: 20px auto 20px;
    padding: 10px 20px;
    /* background-color: #f6f2f2c6; */
    border-radius: 10px;
    /* box-shadow: 0px 0px 8px 0 #182b32; */
    color:rgb(65, 63, 63)
}
.main{
    display: flex;
    /* border: 2px solid green; */
    margin-bottom: 20px;
    border-radius: 10px;
    /* background-color: #fff; */
        background-color: #f6f2f2c6;
    box-shadow: 0px 0px 5px 0 #182b32;
}
.left{
    width:80%;
    /* border: 2px solid black; */
    padding-left: 10px;
}
.left h1{
    font-size: 22px;
}
/* .left p{
    font-size: 20px;
} */
.right{
    /* border: 2px solid pink; */
    margin: auto;
}
.heading{
    display: flex;
    align-items: center;
    gap: 10px;
}

    </style>
</head>
<body>
    <div class="header">
        <div class="logo">WP Notifier</div>
        <nav>
            <a href="/user_schedule/user_schedule">Schedule</a>
            <a href="/user_notification/user_notification">Notifications</a>
            <a href="#" class="login-button">Login</a>
        </nav>
    </div>
    <div class="container">

        <div class="main">
            <div class="left">
                <div class="heading">
                    <h1>Get your waste bin ready</h1>
                    <img src="../public/images/truck.png" alt="picture of waste truck">
                </div>
                <p>Tomorrow waste picker will come to your area from 8am to 9am.</p>
            </div>
            <div class="right">Time</div>
        </div>

        <div class="main">
            <div class="left">
                <div class="heading">
                    <h1>Get your waste bin ready</h1>
                    <img src="../public/images/truck.png" alt="picture of waste truck">
                </div>
                <p>Tomorrow waste picker will come to your area from 8am to 9am.</p>
            </div>
            <div class="right">Time</div>
        </div>

        <div class="main">
            <div class="left">
                <div class="heading">
                    <h1>Get your waste bin ready</h1>
                    <img src="../public/images/truck.png" alt="picture of waste truck">
                </div>
                <p>Tomorrow waste picker will come to your area from 8am to 9am.</p>
            </div>
            <div class="right">Time</div>
        </div>

        <div class="main">
            <div class="left">
                <div class="heading">
                    <h1>Get your waste bin ready</h1>
                    <img src="../public/images/truck.png" alt="picture of waste truck">
                </div>
                <p>Tomorrow waste picker will come to your area from 8am to 9am.</p>
            </div>
            <div class="right">Time</div>
        </div>
            
    </div>
</body>
</html>