@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Roboto:wght@300;400;500;700&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yeseva+One&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccebf5; /* Light blue background */
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
  background-color: #1F618D; /* Light cream background */
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: #fff;
  font-family: "Yeseva One", serif;
}

.login-button {
  background-color:  #8cbbed;; /* Blue color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 3px 3px 10px  rgb(69, 68, 68);
}

.login-button:hover {
  background-color: #007bff ; /* Darker blue on hover */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

label {
  display: block;
  font-size: 40px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

select {
  padding: 20px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e4e2e2;
  -webkit-appearance: none; /* Remove default arrow in webkit browsers */
  -moz-appearance: none; /* Remove default arrow in Firefox */
  appearance: none; /* Remove default arrow in all browsers */
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 5"><path fill="%23666" d="M0 0l5 5 5-5z"/></svg>'); /* Custom down arrow */
  background-repeat: no-repeat;
  background-position: right 10px center; /* Position arrow in the center vertically */
  background-size: 20px 20px; /* Size of the arrow */
  padding-right: 40px; /* Space for the arrow */
  color: rgba(0, 0, 0, 0.5); /* Set font color with reduced opacity */
}

select::-ms-expand {
  display: none; /* Remove default arrow in IE */
}

select{
  /* border: 5px solid black; */
  width: 30%;
  box-shadow: 0 0 5px rgb(75, 74, 74);
  outline: none;
  text-indent: 10px;
  margin: 30px 0;
}

option{
  text-indent: 10px;
  padding: 34px 0;

}


.next-button {
  background-color: #28a745; /* Green color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  box-shadow: 2px 2px 4px  rgb(69, 68, 68);
}

.next-button:hover {
  background-color: #218838; /* Darker green on hover */
}

a{
  text-decoration: none;
  color:#fff;
}
