<!DOCTYPE html>
<html>
<head>
    <title>Event Schedule</title>
    <link rel="stylesheet" href="stylesheets/schedule.css">
</head>
<body>
    <div class="container">
        <h1>EVENT SCHEDULE</h1>
        <table>
            <thead>
                <tr>
                    <th>DAY</th>
                    <th>MONTH</th>
                    <th>WARD</th>
                    <th>TIME</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>SUN</td>
                    <td>1</td>
                    <td>2</td>
                    <td>7:00 AM - 8:00 AM</td>
                </tr>
                <tr>
                    <td>MON</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>TUE</td>
                    <td>5,6,7,8</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>WED</td>
                    <td>9,10,11,12</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>THU</td>
                    <td></td>
                    <td>1,2,3,4</td>
                    <td></td>
                </tr>
                <tr>
                    <td>FRI</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>SAT</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <p class="footer">reallygriratsita.com | 123 anywhere St, Any city</p>
    </div>
</body>
</html>